body {
    margin: 0;
    background: radial-gradient(circle, #999, #eee);
}


.backward {
    background: #fffa;
    border: 1px solid #555;
    text-decoration: none;
    padding: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}
.backward:hover {
	background: #0002;
}
